body {
    background-color: lightblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

ol li {
    display:inline;
}

.header_links {
    margin-right: 10px;
    position:relative;
    top:-5px;
}

#internal_links {
   text-align: center;
}

.internal_links {
    margin-right:50px;
}

a:link { color: blue } 
a:visited { color: rgb(25, 55, 80)} 
a:hover { color: red }
a:active { color: rgb(25, 55, 80)}

header {
    text-align: center;
    background-color: lightskyblue;
    overflow: hidden;
    position: fixed;
    top: 0; 
    width: 100%;
}

main {
    margin-top: 75px;
    margin-bottom:20px;
}

footer {
    color:rgb(10,40,60);
}

.title {
    color:rgb(10,40,60);
}

#large_gallery_display {
    background-color: rgb(25, 55, 80);
    width: 95vw;
    height: 50vh;
    display: none;
    justify-content: center;
    align-items: center;
}

#full_image {
    height: calc(100% - 20px);
    justify-content: center;
    border: 10px solid rgb(75, 75, 75);
    margin-right:2vw;
}

.changeable_font {
    font-size: 18px;
    margin-right:10px;
}

#format_options {
    margin-left:10px;
}

#format_options{
    display:grid;
}

.thumbnail {
    width: 20vw;
    float:left;
}

.thumbnail_group {
    justify-content: center;
    width:90vw;
    display: flex;
}

.odd_sections {
    scroll-margin-top:50px;
    height:40vh;
    background-color: rgb(25, 55, 80);
}

.even_sections {
    scroll-margin-top:50px;
    height:40vh;
    background-color: lightblue;
}

#top {
  scroll-margin-top:100px;
}

.home_images_left {
    float:left;
    height:90%;
    margin-top:2vh;
    margin-right:2vw;
    margin-left:2vw;
}

.home_images_right {
    float:right;
    height:90%;
    margin-top:2vh;
    margin-right:2vw;
    margin-left:2vw;
}

.home_text_for_images_left {
    padding-top: 2vh;
    margin-right:2vw;
    font-size: 18px;
}

.home_text_for_images_right {
    color: rgb(25, 55, 80);
    padding-top: 2vh;
    margin-left:2vw;
    font-size: 18px;
}

#svg_sitemap {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

#interactive_svg g:hover polygon,
#interactive_svg g:hover rect,
#interactive_svg g:focus polygon,
#interactive_svg g:focus rect {
	fill: rgb(85,85,85);
	stroke: white;
	stroke-width: 2;
}

/* The following focus styling was debugged and learned about through ChatGPT. */
/* I asked how to change the color of the focus border used when navigating  */
/* the page with a keyboard and learned about :focus  */
.focus_svg:focus{
    outline:5px solid rgb(202, 3, 3);
}

#name {
    background-color: rgb(25, 55, 80);
    align-items: center;
    display:flex;
    justify-content: center;
}

.table_label {
    text-align: right;
    font-weight: bold;
}

.task_descriptions {
    /* Gradients were learned about here: https://www.w3schools.com/css/css3_gradients.asp */
    background-image: linear-gradient(to bottom right, rgb(230,173,187), rgb(230,215,173));
    border:5px solid rgb(25, 55, 80);
    padding:15px;
    display:flex;
    }

.text_description {
    flex:4;
    overflow: auto;
    max-width: 100%;
}

.image_example {
    flex:2;
    display:flex;
    justify-content: center;
    align-items: center;
}


